
.row{
    background-color: #192841;
    color:white;
    padding:1em;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
   

}
.row p{
    display:block;
    padding-right: 1em;
}
.row h1{
    margin:0;
    display:inline;
    grid-column-start: 1;
    

}

.compImg{
    width:100px;
    height:100px;

}
