
.row{
    background-color: #192841;
    color:white;
    padding:1em;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(1,1fr);
   

}
.row p{
    display:block;
    padding-right: 1em;
}
.row h1{
    margin:0;
    display:inline;
    grid-column-start: 1;
    

}
.champs{
    grid-column-start: 2;
    grid-column-end: 2;
    display:flex;
}
.champ{
    width:100px;
    height:100px;
}
.compImg{
    width:50px;
    height:50px;

}
