.tournament
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #192841;
    color: white;
    border: 1px solid grey;
    padding: 0;
    margin-top: 1em;
}

.tournament div
{
    color: white;
    border-right: 1.2px solid grey;
    padding: 1em;
}

.tournament div:hover
{
    border: 1.2px solid grey;

}

.tournament a
{
    
    text-decoration: none;
}
