@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri|Playfair+Display|Roboto&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  -webkit-font-feature-settings: "liga" 0, "clig" 0;
     -moz-font-feature-settings: "liga" 0, "clig" 0;
          font-feature-settings: "liga" 0, "clig" 0;
  line-height: 1.4;
  background-color: #f8f8f8;
}
.container{
  padding: 3vh 8vw;
  padding-bottom: 10vh;
  line-height: 2.5em;
}
.container h1{
  font-size: 3em;
  margin: 0.75em 0;
  font-family: 'Playfair Display', serif;
}
.container p{
  font-size: 1.5em;
  font-family: 'Hind Siliguri', sans-serif;
  margin-left: 0.5vw;
}
.welcome-container{
  height:80vh;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/tft.jpg');
  background-size: cover;
  display : flex;
  align-items : center;
  justify-content: center;
}
.welcome-container h1{
  color:white;
  font-size: 8em;
}
.box-row{
  display: flex;
  
}
.box{
  flex:1;
  padding: 1vw;
}
.box h1{
  font-size: 2em;

}
.box img{
  width:100%;
}
