*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f8f8f8;
}
.container{
  padding: 5vh 8vw;
  line-height: 2.5em;
}
.container h1{
  font-size: 3em;
  margin: 1em 0;
}
.container p{
  font-size: 1.3em;

}
.welcome-container{
  height:80vh;
  text-align: center;
  background: linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url('images/tft.jpg');
  background-size: cover;
  display : flex;
  align-items : center;
  justify-content: center;
}
.welcome-container h1{
  color:white;
  font-size: 8em;
}
.box-row{
  display: flex;
  
}
.box{
  flex:1;
  border: 1px #333 solid;
  padding: 1vw;
}
.box h1{
  font-size: 2em;

}
.box img{
  max-width: 26vw;
}
