footer{
    margin:0;
    padding:10vh 8vw;
    background-color: #192841;
    color:white;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
footer p{
    font-size: 1.3em;
    opacity: 0.7;
}
.box-left{
    padding-right: 1em;
}
.box-left h1{
    margin-bottom: 2vh;
}
.box-right{
}
.box-right h1{
    border-bottom: 3px #fff solid;
    width:7vw;
}
ul{
    list-style:none;
    margin-top: 1em;
}
.link-style{
    color:#fff;
    text-decoration:none;
    font-size: 1.3em;
    opacity: 0.7;
}
.link-style:hover{
    opacity: 1;
    transition-duration: 0.2s;
}


