*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.link-style{
    color:#fff;
    text-decoration:none;
    margin:auto;
    flex-basis:10%;
}
header{
    color:#fff;
    height :10vh;
    width: 100vw;
    position: fixed;
    display:flex;
    transition: background 0.5s;
    padding:1em 8vw;    
}
header h1{
    flex-basis: 90%;
    margin:auto;
}
.active{
    background: black;
}