*{
    margin:0;
    padding:0;
}

.link-style{
    color:#fff;
    text-decoration:none;
    flex:1;
}
header{
    color:#fff;
    height :8vh;
    width: 100vw;
    position: fixed;
    display:flex;
}
header h1{
    flex:10;
}
.active{
    background: black;
}