*{
  margin:0;
  padding:0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #f8f8f8;
}
a{
  color: #333;
  text-decoration: none;
} 
.container{
  margin:0 8vw;
  width: 86vw;
}
img{
  max-width: 86vw;
}
.welcome-container{
  height:80vh;
  text-align: center;

}
.welcome-container div{
  height:30vh;  
  background-color: red;
  
}
.welcome-container h1{
  color:white;
  font-size: 8em;
  vertical-align: middle;
}
